<footer class="footer mt-auto py-3 bg-light border-top">
    <div class="container text-center">
        <span class="text-muted">Educational Games - Sviluppato da
            <a href="https://malafronte.github.io/" target="_blank" rel="noopener noreferrer">Prof. Gennaro
                Malafronte</a>
            - <a href="https://www.istitutogreppi.edu.it/" target="_blank" rel="noopener noreferrer">Istituto "A.
                Greppi"</a>, Monticello B.za (LC) - &copy; 2025
        </span>
    </div>
    </footer>